<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @imgtown.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @imgtown.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @imgtown.image.thumb.url %>
</p>

<%= link_to 'Edit', edit_imgtown_path(@imgtown) %> |
<%= link_to 'Back', imgtowns_path %>
